// Reset, normalize, utils

.table{
  border-collapse: collapse;
}

button{
  border: none;
  font-size: 1em;
  text-align: center;
}

%flex{
  display: flex;
  align-items: center;
}

@mixin flex($spacing){
    @extend %flex;
    justify-content: $spacing;
}

// Table

// Basic styles

%table__cell{
  font-size: $size-font-medium;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  color: $color-base-black;
  padding: $size-padding-x-2;
  vertical-align: top;
}

// Modifiers / Variations

.table__cell{
  @extend %table__cell;
  &--header{
    color: $color-base-dark-grey;
    border-bottom: solid 1px $color-base-light-grey;
    padding: $size-padding-x-2 $size-padding-x-2 $size-padding-x-3;
  }
  &--dnd-trigger, &--select{
    padding: $size-padding-x-2 $size-padding-half;
  }
  &--identifier{
    padding: $size-padding-x-2 $size-padding-x-2 $size-padding-x-2 $size-padding-x-1;
  }
  &--numerical{
    text-align: right;
  }
  &--actions{
    text-align: right;
  }
  &--disabled{
    color: $color-base-grey;
  }
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }
  .table__body-row:first-child &{
    padding-top: $size-padding-x-3;
  }
  .table__body-row:last-child &{
    padding-bottom: $size-padding-x-3;
  }
}

// Header

.SectionTitle{
  padding-bottom: $size-padding-x-3;
  .header-wrapper &{
    padding-bottom: 0;
  }
}

.header-wrapper{
  @include flex(
      $spacing: space-between
  )
  padding-bottom: $size-padding-x-3;
}

// Custom bar

.custom-bar__trigger{
}

// Applied filters summary

.applied-filters-summary{
  @include flex(
      $spacing: flex-start
  )
  &__item{
    @include flex(
      $spacing: space-between
    )
    border: solid 1px $color-base-light-grey;
    border-radius: 12px;
    margin-right: $size-padding-x-1;
    font-size: $size-font-small;
    line-height: 16px;
    padding: $size-padding-half;
  }
  &__trigger{
    color: $color-base-dark-blue;
    padding: 0 $size-padding-x-1 0 $size-padding-half;
  }
  &__remove{
    width: 1em;
    height: 1em;
    margin-: 0 $size-padding-half;
    background:transparent url("icons/close-mini.svg") no-repeat center center;
    background-size: 100%;
  }
}

// Actions

.action-wrapper{
  @include flex(
      $spacing: space-between
  )
  &--is-dnd{
    padding-left: $size-padding-x-2;
  }
}

.multiselect-trigger{
  .multiselect-trigger__checkbox{
    margin-right: $size-padding-x-1;
  }
  .multiselect-trigger__label{
    color: $color-base-dark-grey;
    font-size: $size-font-small;
  }
}

.table-action-set{
  @include flex(
      $spacing: space-between
  )
}


// Iconic button
.IconicButton{
  background: none;
// Temp - until we build icon component
  height: 24px;
  padding:4px;
  width: 18px;
  margin: 4px 8px;
  &--more{
    background:transparent url("icons/more.svg") no-repeat center center;
    background-size: 100%;
  }
  &--search{
    background:transparent url("icons/search.svg") no-repeat center center;
    background-size: 100%;
  }
  &--custom-view{
    background:transparent url("icons/custom-view.svg") no-repeat center center;
    background-size: 100%;
  }
  &--filter{
    background:transparent url("icons/filter.svg") no-repeat center center;
    background-size: 100%;
  }
}
