// Reset

.table{
  border-collapse: collapse;
}



// Basic styles

.SectionTitle{
  padding-bottom: $size-padding-x-3;
}

%table__cell{
  font-size: $size-font-medium;
  line-height: 1.5;
  font-weight: 400;
  text-align: left;
  color: $color-base-black;
  padding: $size-padding-x-2;
  vertical-align: top;
}



// Modifiers / Variations

.table__cell{
  @extend %table__cell;
  &--header{
    color: $color-base-dark-grey;
    border-bottom: solid 1px $color-base-light-grey;
    padding: $size-padding-x-2 $size-padding-x-2 $size-padding-x-3;
  }
  &--identifier{}
  &--numerical{
    text-align: right;
  }
  &--disabled{
    color: $color-base-grey;
  }
  &:first-child{
    padding-left: 0;
  }
  &:last-child{
    padding-right: 0;
  }
  .table__body-row:first-child &{
    padding-top: $size-padding-x-3;
  }
  .table__body-row:last-child &{
    padding-bottom: $size-padding-x-3;
  }
}
